<!DOCTYPE HTML
		  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="UTF-8" />
	<title>请更新您的浏览器</title>
	<style>
		html, body {
			font-family: Microsoft YaHei, SimSun;
			color: #fff;
			font-weight: bold;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		h1 {
			font-size: 58px;
			margin-top: 250px;
			margin-bottom: 0;
		}

		p {
			margin-top: 0;
		}

		img {
			margin: 50px 0;
		}

		a {
			display: inline-block;
			width: 150px;
			padding: 10px 0;
			border: 3px solid #fff;
			color: #fff;
			text-decoration: none;
			margin-bottom: 16px;
		}

			a:hover {
				background-color: #fff;
				color: #F19A2A;
			}

		.container {
			height: 100%;
		}

		.col {
			text-align: center;
			float: left;
			height: 100%;
			width: 20%;
		}

		.col1 {
			background-color: #F2B635;
		}

		.col2 {
			background-color: #F19A2A;
		}

		.col3 {
			background-color: #00CAFF;
		}

		.col4 {
			background-color: #00A0E6;
		}

		.col5 {
			background-color: #F25648;
		}

		.header {
			margin-top: 50px;
			width: 100%;
			text-align: center;
			position: fixed;
			font-size: 30px;
		}

		.img-logo {
			margin: 0;
		}
	</style>
</head>
<body>
	<div class="container">

		<div class="header">
			<img class="img-logo" src="~/Content/image/DTLogo.png" height="100" /><br />
			Draw Together 不支持 Internet Explorer 8 及更低版本的浏览器了！赶快去升级吧！<br />
		</div>
		<div class="col col1">
			<h1>48.7%</h1>
			<p>的人在使用</p>
			<img src="~/Content/image/bsie/b1.png" height="150" width="150" alt="Chrome" />
			<p>Google Chrome</p>
			<a href="http://www.google.com/chrome" target="_blank">立即下载</a>
			<p>版本：36</p>
		</div>
		<div class="col col2">
			<h1>19.6%</h1>
			<p>的人在使用</p>
			<img src="~/Content/image/bsie/b2.png" height="150" width="150" alt="Chrome" />
			<p>Mozilla FireFox</p>
			<a href="http://www.mozilla.org/firefox/new">立即下载</a>
			<p>版本：31</p>
		</div>
		<div class="col col3">
			<h1>23%</h1>
			<p>的人在使用</p>
			<img src="~/Content/image/bsie/b3.png" height="150" width="150" alt="Chrome" />
			<p>Internet Explorer</p>
			<a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">立即下载</a>
			<p>版本：11</p>
		</div>
		<div class="col col4">
			<h1>4.9%</h1>
			<p>的人在使用</p>
			<img src="~/Content/image/bsie/b4.png" height="150" width="150" alt="Chrome" />
			<p>Apple Safari</p>
			<a href="http://support.apple.com/downloads/#safari">立即下载</a>
			<p>版本：7</p>
		</div>
		<div class="col col5">
			<h1>1.4%</h1>
			<p>的人在使用</p>
			<img src="~/Content/image/bsie/b5.png" height="150" width="150" alt="Chrome" />
			<p>Opera</p>
			<a href="http://www.opera.com/zh-cn/computer/windows">立即下载</a>
			<p>版本：25</p>
		</div>
	</div>
</body>
</html>